<a href="https://colab.research.google.com/github/Memo28/100DayofML/blob/master/Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

In [0]:
np.random.seed(0)

# The data give us the largo y ancho del petalo y el largo y ancho del cepalo
# Loading the data set
iris = load_iris()

# Creating a dataframe
df = pd.DataFrame(iris.data, columns = iris.feature_names)

In [7]:
# Showing the data  
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
# Adding the species colum to the data frame
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2   setosa
1                4.9               3.0  ...               0.2   setosa
2                4.7               3.2  ...               0.2   setosa
3                4.6               3.1  ...               0.2   setosa
4                5.0               3.6  ...               0.2   setosa

[5 rows x 5 columns]

In [0]:
# Generating the train set
trainRandom = np.random.rand(len(df)) < 0.8
train = df[trainRandom]

# Generating the test set
test = df[~trainRandom]

In [16]:
print('Train ', len(train))
print('Test ', len(test))

Train  123
Test  27