<a href="https://colab.research.google.com/github/Memo28/100DayofML/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Series (1D)
# Dataframes (2D)
# Panels (3D)

import pandas as pd

series = pd.Series([5, 10, 15, 25, 20])
series

0     5
1    10
2    15
3    25
4    20
dtype: int64

In [3]:
type(series)

pandas.core.series.Series

In [4]:
series[3]

25

In [5]:
cad = pd.Series(['M','e', 'm', 'o'])
cad

0    M
1    e
2    m
3    o
dtype: object

In [6]:
# Dataframe, estructura parecida a una hoja de calculo de excel
lst = ['Gola', 'Asuea', 'Wakure']
df = pd.DataFrame(lst)
df

        0
0    Gola
1   Asuea
2  Wakure

In [11]:
# Se definen en el objeto, key sera la cabecera y dentro un array con los datos
data = {
    'Nombre' : ['Juanito', 'Anita', 'Jose', 'Arturo'], 
    'Edad' : [25, 23, 34, 56], 
    'Pais' : ['Mexico', 'Urugay', 'Rusia', 'Holanda']
    }
df = pd.DataFrame(data)
df

    Nombre  Edad     Pais
0  Juanito    25   Mexico
1    Anita    23   Urugay
2     Jose    34    Rusia
3   Arturo    56  Holanda

In [13]:
df[['Nombre', 'Pais']]

    Nombre     Pais
0  Juanito   Mexico
1    Anita   Urugay
2     Jose    Rusia
3   Arturo  Holanda

In [14]:
df.head(2)

    Nombre  Edad    Pais
0  Juanito    25  Mexico
1    Anita    23  Urugay

In [16]:
df.Nombre[1]

'Anita'

In [18]:
info = df.iloc[2]
info

Nombre     Jose
Edad         34
Pais      Rusia
Name: 2, dtype: object

In [19]:
df.tail()

    Nombre  Edad     Pais
0  Juanito    25   Mexico
1    Anita    23   Urugay
2     Jose    34    Rusia
3   Arturo    56  Holanda

In [20]:
df.shape

(4, 3)

In [21]:
df.columns

Index(['Nombre', 'Edad', 'Pais'], dtype='object')

In [22]:
df['Nombre'].describe()

count          4
unique         4
top       Arturo
freq           1
Name: Nombre, dtype: object

In [30]:
# Ordenar por columna
df.sort_index(axis=0, ascending= False)

    Nombre  Edad     Pais
3   Arturo    56  Holanda
2     Jose    34    Rusia
1    Anita    23   Urugay
0  Juanito    25   Mexico

In [33]:
# Cargar informacion en el entorno
data = pd.read_csv('canciones-2018.csv')
data.head
data.iloc[21]

id                  3V8UKqhEK5zBkBb6d6ub8
name                      Te Bot? - Remix
artists                        Nio Garcia
danceability                        0.903
energy                              0.675
key                                    11
loudness                           -3.445
mode                                    0
speechiness                         0.214
acousticness                        0.542
instrumentalness                 1.28e-05
liveness                           0.0595
valence                             0.442
tempo                              96.507
duration_ms                        417920
time_signature                          4
Name: 21, dtype: object

In [36]:
data.sort_index(axis=1, ascending=True)

    acousticness       artists  danceability  ...    tempo  time_signature valence
0         0.0332         Drake         0.754  ...   77.169             4.0  0.3570
1         0.2580  XXXTENTACION         0.740  ...   75.023             4.0  0.4730
2         0.1170   Post Malone         0.587  ...  159.847             4.0  0.1400
3         0.5800   Post Malone         0.739  ...  140.124             4.0  0.4390
4         0.0589         Drake         0.835  ...   91.030             4.0  0.3500
..           ...           ...           ...  ...      ...             ...     ...
95        0.0716     Zac Efron         0.684  ...  125.046             4.0  0.2840
96        0.2450  Clean Bandit         0.638  ...  105.076             4.0  0.3300
97        0.0733     DJ Khaled         0.552  ...  135.702             5.0  0.6390
98        0.1010          ZAYN         0.258  ...  180.043             4.0  0.0967
99        0.6970    Dean Lewis         0.553  ...  126.684             4.0  0.4430

[100 rows x 16 columns]